.main-form {
  padding-top: 50px;
}

.save-panel {
  position: fixed;
  z-index: 10;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 48px;
  border: 1px solid #bbb;
}

.soak-panel {
   padding-top: 32px;
   padding-bottom: 32px;
}

.addon-core-attr {
  width: 85px;
}

.attack-second-row td {
  border-top-width: 0px !important;
}

.attack-table td, .attack-table .form-group {
  margin:0px;
}

.attack-table label {
  font-size: 12px;
}

.navbar-btn {
  margin-right: 10px;
}

.select-button {
  display: block;
}

.select-button .btn-default:hover, .select-button .btn-default:focus,.select-button .btn-default:active {
  background-color: #fff;
}

#systemButton {
  margin-right: -30px;
  padding-left: 20px;
}

#systemButton, .select-button .dropdown-menu {
  width: 100%;
  text-align: left;
}

.select-button .dropdown-toggle {
  float: right;
  z-index: 1000;
}

#systemButton, .select-button a {
  padding: 2px !important;
}

.system-logo {
  margin-right: 10px;
}

.system-eote {
  border: 1px solid #ccc;
  background-color: #fafafa !important;
}

.system-aor {
  border: 1px solid #850000;
  background-color: #c22527 !important;
}

.system-fad {
  border: 1px solid #fff461;
  background-color: #000;
}
