.soak-panel {
   padding-top: 32px;
   padding-bottom: 32px;
}

.addon-core-attr {
  width: 85px;
}

.attack-second-row td {
  border-top-width: 0px !important;
}

.attack-table td, .attack-table .form-group {
  margin:0px;
}

.character-buttons {
  margin-bottom: 10px;
}

.skill-column {
  margin-right: 10px;
}
