h3 {
  font-size: 16px;
  color: #aaa;
}

h5, h6 {
  font-weight: bold;
}

h6 {
  display: inline;
}

.panel-value {
  text-align: center;
  font-weight: bold;
  font-size: 130%;
}

.panel-footer {
  font-weight: bold;
}

.soak-panel {
  padding-top: 44px;
  padding-bottom: 44px;
}

table.table {
  margin: 0px;
}

.career-check {
  padding-left: 20px !important;
  font-weight: bold;
}

td.value {
  padding-left: 17px !important;
}

.panel-first-row td, .attack-second-row td {
  border-top-width: 0px !important;
}
