.main-form {
  padding-top: 50px;
}

.save-panel {
  position: fixed;
  z-index: 10;
  width: 200px;
  left: 45%;
  margin-top: -30px;
}

.soak-panel {
   padding-top: 32px;
   padding-bottom: 32px;
}

.addon-core-attr {
  width: 85px;
}

.attack-second-row td {
  border-top-width: 0px !important;
}

.attack-table td, .attack-table .form-group {
  margin:0px;
}

.attack-table label {
  font-size: 12px;
}

.navbar-btn {
  margin-right: 10px;
}
