html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 100px;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: normal;
  color: #aaa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #555;
  padding-top: 40px;
  color: #fff;
}

h4 {
  font-weight: bold;
}

.dropdown-menu>li>form>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.main-container {
  margin-top: 80px;
}

.label-lg {
  font-size: 18px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.return-box a {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  width: auto;
  display: inline-block;
}

.character-container {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.pagination-newer {
  font-size: 150%;
  margin-left: 20px;
}

.pagination-older {
  font-size: 150%;
  margin-right: 20px;
}

.glyphicon-user {
  color: #fff;
}

.nav-divider {
  border-left: 1px solid #666;
}

.modal-content {
  margin-top: 100px;
}
