html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 100px;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: normal;
  color: #aaa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #555;
  padding-top: 40px;
  color: #fff;
}

h4 {
  font-weight: bold;
}

.main-container {
  margin-top: 80px;
}

.label-lg {
  font-size: 18px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
