html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #555;
  padding-top: 40px;
  color: #fff;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  color: #777;
}

.return-box a {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  width: auto;
  display: inline-block;
}

.main-container {
  margin-top: 80px;
}

.label-lg {
  font-size: 18px;
}

.soak-panel {
   padding-top: 32px;
   padding-bottom: 32px;
}

.addon-core-attr {
  width: 85px;
}

.attack-second-row td {
  border-top-width: 0px !important;
}

.attack-table td, .attack-table .form-group {
  margin:0px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.character-buttons {
  margin-bottom: 10px;
}
