# .dockerignore
.git
Dockerfile
docker-compose.yml
README.md

# Mix artifacts
/_build/
/deps/
*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/assets/node_modules/

# Tests
/test/
