/_build
/deps
erl_crash.dump
*.ez
/config/prod.secret.exs
/.elixir_ls/

# Asset compilation
/assets/node_modules/
/priv/static/

# Postgres data volume
/pg_data/

# Codecov
/cover/
.DS_Store

# env
.env
