<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60982925-8', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/icons/apple-touch-icon-180x180.png") %>">
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/icons/favicon-32x32.png") %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/icons/favicon-194x194.png") %>" sizes="194x194">
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/icons/favicon-96x96.png") %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/icons/android-chrome-192x192.png") %>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/icons/favicon-16x16.png") %>" sizes="16x16">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/icons/manifest.json") %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="<%= Routes.static_path(@conn, "/icons/mstile-144x144.png") %>">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title_or_default(assigns[:title]) %></title>
    <%= if description = assigns[:description] do %>
      <meta name="description" content="<%= description %>">
    <% end %>
    <%= if og_image_url = assigns[:og_image_url] do %>
      <meta property="og:image" content="<%= og_image_url %>" />
    <% end %>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-bfWZLPtvQKHg/nZNhaO/ZW4Ba8ISud5CtEjnCTU6OR1yOq5zrrF+JP2o7om6rzLf" crossorigin="anonymous">
    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">

    <%= render_existing view_module(@conn), "_header." <> view_template(@conn), assigns %>
  </head>

  <body class="<%= body_class(@conn) %>">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#eb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="toplogo"></div>
            <p><%= application_name() %></p>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="eb-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= Routes.character_path(@conn, :index) %>">Characters</a></li>
            <li><a href="<%= Routes.vehicle_path(@conn, :index) %>">Vehicles</a></li>
            <li><a href="<%= Routes.profile_path(@conn, :my_creations) %>">My Creations</a></li>
          </ul>
          <%= render "_user_dropdown.html", conn: @conn %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="jedi-council container-fluid">
      <%= render_existing view_module(@conn), "_jedi_council." <> view_template(@conn), assigns %>
    </div>

    <div class="container main-container">
      <%= @inner_content %>
    </div>

    <footer class="footer">
      <div class="container">
        <p><%= application_name() %></p>
        <ul>
          <li><a href="<%= Routes.page_path(@conn, :about) %>">About</a></li>
          <li><a href="<%= Routes.page_path(@conn, :supporters) %>">Supporters</a></li>
          <li><a href="https://patreon.com/duffn">Patreon</a></li>
          <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=A8BDWW8MQMKNU&amp;source=url">Donate</a></li>
          <li><a href="https://github.com/swsheets/swsheets">Source Code</a></li>
        </ul>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
