Hi <%= username %>,

A password reset was recently requested for your account. To set a new password for your account, please visit the link below in the next 24 hours:

<%= password_reset_link %>

If this was not you, you can ignore this email and no changes will be made.

hugs
GM Sparker
