<a href="<%= Routes.profile_path(@conn, :show, @user) %>"><%= @user.username %></a> <%= unless is_nil(@user.pull_requested_at) do %><img src="/images/advantage.png" height="<%= @size %>px"><% end %><%= unless is_nil(@user.bug_reported_at) do %><img src="/images/success.png" height="<%= @size %>px"><% end %>
