<div class='jumbotron profile'>
  <h1><%= @user.username %></h1>
  <p>Member since <%= format_date(@user.inserted_at) %></p>
  <p><%= Enum.count(@characters) %> <%= inflect("Character", Enum.count(@characters)) %> Created</p>
</div>

<div class='row'>
  <div class="col-lg-6 col-lg-offset-3">
    <h2>Recent Creations</h2>
    <%= render EdgeBuilder.CharacterView, "list_view.html", conn: @conn, characters: @characters %>
  </div>
</div>
