<div class="row">
  <h4>Attacks</h4>
</div>
<div class="row">
  <table class="table table-condensed attack-table">
    <%= for {attack, i} <- Enum.with_index(@attacks) do %>
      <tr class="<%= if rem(i, 2) == 0, do: "active" %>">
        <td class="col-md-5">
          <input type="hidden" name="attacks[<%= i %>][id]" value="<%= get_field(attack, :id) %>" />
          <div class="form-group form-group-sm">
            <label class="sr-only" for="attacks[<%= i %>][weapon_name]">Weapon</label>
            <input type="text" class="form-control" name="attacks[<%= i %>][weapon_name]" placeholder="Weapon Name" value="<%= get_field(attack, :weapon_name) %>" />
          </div>
        </td>
        <td class="form-inline">
          <div class="form-group form-group-sm pull-right">
            <label for="attacks[<%= i %>][range]">Range</label>
            <select class="form-control" name="attacks[<%= i %>][range]">
              <option>Engaged</option>
              <option>Short</option>
              <option>Medium</option>
              <option>Long</option>
              <option>Extreme</option>
            </select>
          </div>
        </td>
        <td class="form-inline">
          <div class="form-group form-group-sm pull-right">
            <label for="attacks[<%= i %>][skill]">Skill</label>
            <select class="form-control" name="attacks[<%= i %>][base_skill_id]">
              <%= base_skill_options(get_field(attack, :base_skill_id)) %>
            </select>
          </div>
        </td>
        <td class="col-md-2"><span class="attack-roll" data-attack-index="<%= i %>">tbd</span></td>
      </tr>
      <tr class="attack-second-row <%= if rem(i, 2) == 0, do: "active" %>">
        <td>
          <div class="form-group form-group-sm">
            <label for="attacks[<%= i %>][specials]" class="sr-only">Specials</label>
            <input type="text" class="form-control" name="attacks[<%= i %>][specials]" placeholder="Specials" value="<%= get_field(attack, :specials) %>" />
          </div>
        </td>
        <td class="form-inline">
          <div class="form-group form-group-sm pull-right">
            <label for="attacks[<%= i %>][damage]">Damage</label>
            <input type="text" class="form-control" size=5 name="attacks[<%= i %>][damage]" value="<%= get_field(attack, :damage) %>" />
          </div>
        </td>
        <td class="form-inline">
          <div class="form-group form-group-sm pull-right">
            <label for="attacks[<%= i %>][critical]">Critical</label>
            <input type="text" class="form-control" size=5 name="attacks[<%= i %>][critical]" value="<%= get_field(attack, :critical) %>" />
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-block btn-danger btn-xs">Remove</button>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="row">
  <p class="text-center col-md-4 col-md-offset-4">
  <button type="button" class="btn btn-block btn-default">Add Attack</button>
  </p>
</div>
