<li>
  <p class="navbar-text">|</p>
</li>
<li>
  <p class="navbar-btn">
    <button form="character_form" type="submit" class="btn btn-success">Save</button>
  </p>
</li>
<li>
  <p class="navbar-btn">
    <a class="btn btn-default">Cancel</a>
  </p>
</li>
