<div class="row">
  <h4>Attacks</h4>
</div>

<table class="table table-condensed">
  <%= for {attack, i} <- Enum.with_index(@attacks) do %>
    <tr class="<%= if rem(i, 2) == 0, do: "active" %>">
      <td class="col-md-5">
        <%= get_field(attack, :weapon_name) %>
      </td>
      <td>
        <h6>Range</h6>
        <%= get_field(attack, :range) %>
      </td>
      <td>
        <h6>Skill</h6>
        <%= lookup_skill(get_field(attack, :base_skill_id)) %>
      </td>
      <td class="col-md-2 skill-cell" rowspan=2><span data-skill-roll="<%= lookup_skill(get_field(attack, :base_skill_id)) %>"></span></td>
    </tr>
    <tr class="attack-second-row <%= if rem(i, 2) == 0, do: "active" %>">
      <td>
        <em><%= get_field(attack, :specials) %></em>
      </td>
      <td>
        <h6>Damage</h6>
        <%= get_field(attack, :damage) %>
      </td>
      <td>
        <h6>Critical</h6>
        <%= get_field(attack, :critical) %>
      </td>
    </tr>
  <% end %>
</table>

