<%= render EdgeBuilder.SharedView, "_errors.html", errors: @errors %>

<%= form_tag(character_path(@conn, :create), role: "form", id: "character_form", method: "POST") %>

  <%= render "_form.html", character: @character, talents: @talents, attacks: @attacks, character_skills: @character_skills %>
</form>
