body {
  font-family: 'PT Sans', sans-serif;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  color: #777;
}

.label-lg {
  font-size: 18px;
}

.soak-panel {
   padding-top: 32px;
   padding-bottom: 32px;
}

.addon-core-attr {
  width: 85px;
}

.attack-second-row td {
  border-top-width: 0px !important;
}
