body {
  font-family: 'PT Sans', sans-serif;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  color: #777;
}

.label-lg {
  font-size: 18px;
}

.soak-panel {
   padding-top: 32px;
   padding-bottom: 32px;
}

.addon-core-attr {
  width: 85px;
}

#weaponAttack1 {
  width:100%;
}

hr.thin {
  margin-top:2px;
  margin-bottom:2px;
  color: #000;
  /* #TODO - make this thicker */
}
