body {
  font-family: 'PT Sans', sans-serif;
}

h1 small {
  display: block;
}

.label-lg {
  font-size: 18px;
}

.soak-panel {
   padding-top: 32px;
   padding-bottom: 32px;
}

.addon-core-attr {
  width: 85px;
}
