<h3>Password Reset</h3>
<p>Please enter your email address below, and a link to reset your password will be emailed to you.</h3>
<%= form_tag(password_reset_path(@conn, :submit_request), role: "form", method: "POST", class: "form well") %>
  <div class="form-group">
    <label for="password_reset[email]" class='control-label'>Email Address</label>
    <input type="text" class="form-control" name="password_reset[email]" />
  </div>
  <input class="btn btn-primary btn-block" type="submit" value="Email me my link!">
</form>
