<p>Newest Members of the Jedi Council <span class="jedi-question glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Members of the community that have contributed to the site's development."></span> - 
  <%= profile_links(@conn, @contributors, 12) %>
  (<a href="<%= Routes.page_path(@conn, :thanks) %>">see all contributors</a>)</p>
