<div class="row">
  <div class="col-sm-12">
    <p>Thank you for supporting SWSheets! Find out more about the different tiers on <a href="https://patreon.com/duffn">Patreon</a>.</p>
    
    <h1>I Am The Senate</h1>
    <p>Nobody here yet.</p>

    <h2>Jedi</h2>
    <p>Nobody here yet.</p>

    <h3>Padawan</h3>
    <p>Nobody here yet.</p>
  </div>
</div>
