<h4>Weapons</h4>

<table class="table table-condensed child-table attack">
  <%= for {attack, i} <- Enum.with_index(@vehicle_attacks) do %>
    <tr class="attack child-first-row<%= if rem(i, 2) == 0, do: " active" %>" data-attack=<%= i %>>
      <td class="col-sm-6">
        <input type="hidden" name="attacks[<%= i %>][id]" value="<%= get_field(attack, :id) %>" />
        <input type="hidden" name="attacks[<%= i %>][display_order]" value="<%= get_field(attack, :display_order) %>" />
        <div class="form-group form-group-sm">
          <label for="attacks[<%= i %>][weapon_name]">Weapon</label>
          <input type="text" class="form-control" name="attacks[<%= i %>][weapon_name]" placeholder="Weapon Name" value="<%= get_field(attack, :weapon_name) %>" />
        </div>
      </td>
      <td class="col-sm-3 form-inline">
        <div class="form-group form-group-sm">
          <label for="attacks[<%= i %>][firing_arc]">Firing Arc</label>
          <select class="form-control" name="attacks[<%= i %>][firing_arc]">
            <%= options(get_field(attack, :firing_arc), ["", "All", "Forward", "Aft", "Port", "Starboard"]) %>
          </select>
        </div>
      </td>
      <td class="col-sm-2 form-inline">
        <div class="form-group form-group-sm">
          <label for="attacks[<%= i %>][range]">Range</label>
          <select class="form-control" name="attacks[<%= i %>][range]">
            <%= options(get_field(attack, :range), ["", "Close", "Short", "Medium", "Long", "Extreme", "n/a"]) %>
        
          </select>
        </div>
      </td>
      <td rowspan="2" class="child-remove-container">
        <button type="button" tabindex="-1" class="btn btn-block btn-danger btn-xs" data-remove-attack=<%= i %>>Remove</button>
      </td>
    </tr>
    <tr class="attack child-second-row<%= if rem(i, 2) == 0, do: " active" %>" data-attack=<%= i %>>
      <td>
        <div class="form-group form-group-sm">
          <label for="attacks[<%= i %>][specials]">Specials</label>
          <input type="text" class="form-control" name="attacks[<%= i %>][specials]" placeholder="Specials" value="<%= get_field(attack, :specials) %>" />
        </div>
      </td>
      <td class="form-inline">
        <div class="form-group form-group-sm">
          <label for="attacks[<%= i %>][damage]">Damage</label>
          <input type="text" size=10 class="form-control" name="attacks[<%= i %>][damage]" value="<%= get_field(attack, :damage) %>" />
        </div>
      </td>
      <td class="form-inline">
        <div class="form-group form-group-sm">
          <label for="attacks[<%= i %>][damage]">Critical</label>
          <input type="text" size=7 class="form-control" name="attacks[<%= i %>][critical]" value="<%= get_field(attack, :critical) %>" />
        </div>
      </td>
    </tr>
  <% end %>
</table>
