<%= render EdgeBuilder.SharedView, "_errors.html", errors: assigns[:errors] %>

<%= form_tag(Routes.vehicle_path(@conn, :create), role: "form", method: "POST") %>
  <%= render "_form.html", assigns %>
</form>
